@{
    ViewBag.Title = "Home Page";
}
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h2>Upload file</h2>

            <p>
                This tool with try to convert your Excel file (2003- or 2007+) to CSV files. If multiple sheets are present, we will give you a zip file containing all the sheets. The resulting file format will be <i>filename</i>-<i>sheetname</i>.csv.
            </p>

            @using (Html.BeginForm("UploadFile", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div>
                    @Html.TextBox("file", "", new { type = "file" }) <br />

                    <input type="submit" value="Upload" />

                    <br />
                    <br />

                    @ViewBag.Message

                    @if (ViewBag.DownloadLink != null)
                    {
                        <a href="Download?file=@ViewBag.DownloadLink" target="_blank">Download</a>
                    }

                </div>
            }
        </div>
    </div>
</div>
